
* {
    font-family: 'Roboto Mono', monospace;
    /*font-family: 'Merriweather', serif;*/
    overflow-x: hidden;
    overflow-y: hidden;
}

.continer-custom {
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 5%;
    padding-bottom: 20%;
    background-image: linear-gradient(to top, transparent, rgb(0, 102, 255), blue, black);
}

.card-custom {
    padding-bottom: 2%;
    background-color: white;
    border: 1px;
    border-radius: 10px;
}

.custom-info {
    padding-left: 5%;
    padding-top: 5%;
    padding-right: 5%;
}

.custom-icon {
    padding-right: 10px;
    padding-top: 2%;
    position: relative;
}

.bolder {
    font-weight: bolder;
}

#space {
    padding-right: 2%;
}

@media screen and (max-width: 900px) {
    * {
        margin: 0;
    }

    .continer-custom {
        padding-left: 10px;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 20%;
        background-image: linear-gradient(to top, transparent, rgb(0, 102, 255), blue, black);
    }

    .card-custom {
        padding-bottom: 2%;
        background-color: white;
        border: 0px;
        border-radius: 0px;
        font-size: 12px;
    }

    .custom-info {
        padding-left: 5%;
        padding-top: 5%;
        padding-right: 5%;
    }
}
